<!-- Go to www.addthis.com/dashboard to customize your tools -->

<script type="text/javascript">
  var addthis_config = {
              pubid: "{{ site.social.addthis_pubid }}"
        }
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>

<div class="addthis_sharing_toolbox"></div>
<script type="text/javascript">
  var addthis_share = addthis_share || {}
  addthis_share = {
  	passthrough : {
  		twitter: {
			via: "{{ site.social.twitter }}"
  		}
  	}
  }
</script>
